blockquote > p:last-child {
  text-align: right;
  font-style: italic;
   padding-left: 200px
}
blockquote > p {
   padding-left: 50px
}
blockquote > p:first-child {
  text-align: inherit;
   padding-left: 50px
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdcafe, .rmdejemplo, .rmdpremium, .rmdpractica, .rmdobjetivos, .rmdresumen {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: 5px center/3em no-repeat;
}

.rmdobjetivos, .rmdresumen {
  border-radius: 25px;
}

.rmdcafe, .rmdejemplo, .rmdpremium, .rmdpractica{
  border-radius: 10px;
}
.rmdcafe {
  background-color:  #eeeeee;
  background-image: url("./images/cafe.png");
  border: 2px solid #cccccc;
}
.rmdejemplo {
  background-color:  #eeeeee;
  background-image: url("./images/ejemplo.png");
  border: 2px solid #cccccc;
}

.rmdpractica {
  background-color:  #fff3cd;
  background-image: url("./images/practice.png");
  border: 2px solid #ffeeba;
}
.rmdobjetivos {
  background-color:  #d4edda;
  background-image: url("./images/target.png");
  border: 2px solid #c3e6cb;
}
.rmdresumen {
  background-color:  #d1ecf1;
  background-image: url("./images/resumen.png");
  border: 2px solid #bee5eb;
}
.rmdpremium {
  background-color:  #f8d7da;
  background-image: url("./images/premium.png");
  border: 2px solid #f5c6cb;
}
